apiVersion: v1
kind: ConfigMap
metadata:
  name: metastore
data:
  REQUESTS_CA_BUNDLE: "/cafile/ca.crt"
  SSL_CERT_FILE: "/cafile/ca.crt"
  PYTHONUNBUFFERED: "yes"
  METASTORE_LOG_LEVEL: "{{ .Values.metastore.logLevel }}"
  METASTORE_DISPATCHER_EVENTS_URL: "http://dp-metastore-events:8111"
  METASTORE_DISPATCHER_STREAMS_URL: "http://dp-metastore-streams:8111"
  METASTORE_OPENSEARCH_URL: "{{ .Values.external.opensearch.endpoint | required "external.opensearch.endpoint not set" }}"
  METASTORE_OPENSEARCH_USERNAME: "{{ .Values.external.opensearch.username }}"
  METASTORE_PARTITION: "{{ .Values.external.opensearch.partition | required "external.opensearch.partition not set" }}"
  METASTORE_INGESTOR_VERSION_SUFFIX: "{{ .Values.external.opensearch.versionSuffix }}"
  {{- if .Values.apiServices.smartStringFilter.enabled }}
  METASTORE_SMART_STRING_FILTER_URL: "http://smart-string-filter:8851"
  {{- else }}
  METASTORE_SMART_STRING_FILTER_URL: ""
  {{- end }}
  {{- range $k, $v := .Values.metastore.env }}
  {{ $k }}: "{{ $v }}"
  {{- end }}
  # these properties are harder to read so put at bottom
  SECURITY_DEFAULT: {{ .Values.security.default }}
  SECURITY_PRESETS: |-
    {{- .Values.security.presets | mustToJson | nindent 4 }}
  SECURITY_MINIMUM_REQUIRED_ACCESS: |-
    {{- .Values.security.minimumRequiredAccess | mustToJson | nindent 4 }}
  SECURITY_ALLOW_RELEASABILITY_PRIORITY_GTE: "{{ .Values.security.allow_releasability_priority_gte }}"
  SECURITY_LABELS: |-
    {{- .Values.security.labels | mustToPrettyJson | nindent 4 }}
  SECURITY_ADMIN_ROLES: |-
    {{- .Values.security.admin_roles | mustToPrettyJson | nindent 4 }}
  METASTORE_SOURCES: |-
    {{- .Values.sources | mustToPrettyJson | nindent 4 }}
  METASTORE_STATUS_INDEX_CONFIG: |-
    {{- .Values.metastore.status_index | mustToPrettyJson | nindent 4 }}
  METASTORE_PLUGIN_INDEX_CONFIG: |-
    {{- .Values.metastore.plugin_index | mustToPrettyJson | nindent 4 }}
