---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dispatcher-reprocess
data:
  DP.LOG_LEVEL: "{{ .Values.migration.kafka.logLevel }}"
  # previous prefix
  # make sure it is different to current prefix in .external.kafka.topicPrefix
  DP.EVENTS.REPROCESS.PREVIOUS_PREFIX: "{{ .Values.migration.kafka.previousTopicPrefix }}"
  DP.EVENTS.REPROCESS.LEGACY_JSON: "{{ .Values.migration.kafka.legacyJson }}"
  DP.EVENTS.REPROCESS.MAX_NUMBER_OF_EMPTY_POLLS: "{{ .Values.migration.kafka.MaxNumberOfEmptyPolls }}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dispatcher-reprocess-sources
data:
  DP.EVENTS.REPROCESS.UPGRADE_SYSTEM: "false"
  DP.EVENTS.REPROCESS.UPGRADE_SOURCES: "true"
  # if you need to rerun from scratch into the same prefix for some reason
  # then change this value
  DP.EVENTS.REPROCESS.CONSUMER_GROUP: "reprocess-{{ .Values.migration.kafka.previousTopicPrefix }}-to-{{ .Values.external.kafka.topicPrefix }}-sources"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dispatcher-reprocess-system
data:
  DP.EVENTS.REPROCESS.UPGRADE_SYSTEM: "true"
  DP.EVENTS.REPROCESS.UPGRADE_SOURCES: "false"
  # if you need to rerun from scratch into the same prefix for some reason
  # then change this value
  DP.EVENTS.REPROCESS.CONSUMER_GROUP: "reprocess-{{ .Values.migration.kafka.previousTopicPrefix }}-to-{{ .Values.external.kafka.topicPrefix }}-system"
